*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
a{
    color: #212529;
    font-size: large;
    padding-right: 40px;
}



header{
    padding: 2rem 0;
}
.header-all i{
    padding-right: 10px;
}

nav {
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 40px;
}

#top-menu{
position: relative;
cursor: pointer;
}

#top-menu:hover #drop-menu{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
#drop-menu{
position: absolute;
display: flex;
flex-direction: column;
align-items: flex-start;
left: -10px;
width: 220px;
background-color: #ffffff;
visibility: hidden;
opacity: 0;
transition: .5s;
top: 20px;
padding: 10px;
border-radius: 10px;
}

.logo img {
    width: 100%;
}

@media(max-width:576px){
    nav a,nav span{
        display: none;
    }
    nav i{
        display: none !important;
    }
    #menu{
        display: block !important;
    }
    #Gallery .top .left{
        display: none;
    }
}
#slider{
    padding: 12rem 0;
    background-image: url(..//image/h3-slider-background.jpg);
    background-position: center;
    background-size: cover;
   
}
.galery-bar a{
    text-decoration: none;
    font-size: 14px;
}
.endirim{
    text-decoration: line-through;
}
.box span{
    opacity: 0.5;
}
.top-box img{
    transition: .5s;
}
.top-box{
    position: relative;
}
 #sold{
    background-color: #2b2b2b;
    color: #ffffff;
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 6px 20px;
    font-size: 16px;
    opacity: 1;
}
#sale{
    background-color: #ffffff;
    color: #2b2b2b;
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 6px 20px;
    font-size: 16px;
    opacity: 1;
}
.top-box:hover img{
    transform: scale(1.1);
}
.all-galery .box .top-box img{
    width: 100%;
}
.bot-box p{
    font-size: 12px;
}
.bot-box span{
    font-size: 12px;
}
#Fragman .left img{
    width: 100%;
    transition: .7s;
}
.video-content{
padding-left: 3rem;
}
#Fragman .video-content h2{
    font-size: 38px;
    padding-right: 9rem;
    color: #2b2b2b;
    opacity: .9;
}
#Fragman .video-content p{
    color: #2b2b2b;
    padding-right: 9rem;
    opacity: .9;
    color: #6d6a6a;
}
#Fragman{
    padding: 6rem;
    background-color: #F7F7F7;
}
#Fragman .left{
    position: relative;
    overflow: hidden;
}
.play-video a{
    position: absolute;
    padding: 40px 50px;
    border-radius: 100%;
    background-color: #ffffff;
    top: 38%;
    left: 41%;
    text-align: center;
}
#Fragman .left:hover img{
    transform: scale(1.1);
}
#Experts{
    padding: 8rem 0;
}
.expert-content h2{
font-size: 38px;
color: #2b2b2b;
}
.expert-content p{
font-size: 17px;
color: #6d6a6a;
opacity: 0.9;
}
.humans h6{
    padding-top: 1rem;
    font-size: 12px;
}
.humans span{
    font-size: 13px;
    opacity: .8;
}
.humans{
    padding-top: 2rem;
}
#Join h1{
   color: #ffffff;
   font-size: 30px;
}
#Join input{
  width: 27%;
  padding: 1% 0;
   border: 1px solid transparent;
}
#Join button{
    padding: 1rem 3rem;
    background-color: #FF3D2A;
    border: 1px solid transparent;

}
.join-inp{
    background-image: url(..//image/h3-background-img.jpg);
    background-position: 50% -28px;
    background-size: cover;
    background-attachment: fixed;
    padding: 10rem 0;
}

#Blog{
    padding: 10rem 0;
    background-color: #F7F7F7;
}
.blog-content h2{
font-size: 38px;
}
.blog-content p{
font-size: 17px;
    opacity: .8;
    padding: 0 30%;
}
#Blog .blog-top img{
    width: 100%;
    transition: .7s !important;
    
}
.all-blogs .blog p{
    font-size: 15px;
    opacity: .8;
    padding: 0 10px;
}
.all-blogs .blog h4{
    font-size: 22px;
    padding-top: 1rem;
}
#Blog .blog-top{
    overflow: hidden;
    position: relative;
}
#Blog .blog-top img:hover {
    transform: scale(1.1) !important;
}
#Blog .blog-top a{
    background-color: #F7F7F7;
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 10px 30px;
    font-size: 10px;
}
.h-text span{
    display: block;
}
.h-photo img{
    width: 5%;
}
#Info{
    padding: 9rem; 
}
#Info span{
    font-size: 12px;
}
#Info p{
    font-size: 24px;
    padding: 0 23rem;
}
#Last{
    background-color: #FEFAF3;
    padding: 10rem 0 2rem;
}
#Last .text-all a{
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: #8b8b8b;
}

#Last .text-all h6{
    font-size: 12px;
    padding-bottom: 1rem;
}
.last-bot{
   margin-top: 8rem; 
}
#Last p{
    font-size: 12px;
}
#Last a{
    font-size: 10px;
}